.admin{
    background-color: #253444;
    color: rgb(228, 225, 225);
    // border-radius: 10px 0 0 10px;
    height: 100%;
}
.admin1{
    text-align: center;
    padding: 20px;
}
.admin1 a{
    color: rgb(228, 225, 225);
}
.navigation{
    border-top: 1px solid rgb(73, 73, 73);
    min-height: 600px;
}
.box{
    padding: 15px;
    display: grid;
    grid-template-columns: 5% 95%;
}
.box:hover{
    background-color: #1a2531;
}
.navigation a{
    color: rgb(228, 225, 225);
    text-decoration: none;
    
}
.box label{
    padding-left: 20px;
    
}